html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #bcd7ff;
    font-family: "Verdana", "Tahoma", sans-serif;
}

#game-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    display: block;
}
